doctype html
html(lang='en-us')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='she.codes_ - the social coding school for women')
        title she.codes
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600')
        link(rel='stylesheet', href='styles.css')
        link(rel='stylesheet', href='font-awesome.min.css')
        script(src='http://api.flattr.com/js/0.6/load.js?mode=manual')

    body
        .topbar
        .horizontal_container
            .sidebar
                .history History!
            .content
                .intro
                .track_viewport
                    .track_container
                        .track.yellow yellow
                        .track.black black
                        .track.blue blue
    
        script(src='index.js')
