.track_container
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    align-items: flex-start
    width: 2400px

.track
    min-height: 200px
    flex-grow: 1
  
.track
    &.blue
        background-color: blue

    &.yellow
        background-color: yellow

    &.black
        background-color: #dddddd
