i.bookmark.fa.fa-bookmark.fa-3x
.header
    span.name= model.pkg.name + " version " + model.pkg.version
    span.author=  "written by " + model.pkg.author.replace(/\s+<.*/,'')
    span.updated_at= "last updated " + moment(model.repo.updated_at).fromNow()
.body
.footer
    span.license= "license: " + model.pkg.license + " " + moment(model.repo.updated_at).format("YYYY")
